{% extends "basic.html" %}

{% block title %}
Job Apply
{% endblock title %}




{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Upload Resume </h2>
          
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
         <div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
              <div class="card-heading"></div>

                <div class="card-body">
                    <h2 class="title">Upload Resume</h2>
                    <form method="POST" enctype="multipart/form-data">
                     {% csrf_token %}
 
                            <div class="col-2">
                                <div class="input-group">
                                    <input class="input--style-2" type="file" placeholder="Resume Upload" name="resume">
                                </div>
                            </div>
                            <div class="p-t-30">
                              <button class="btn btn--radius btn--green" type="submit">Submit</button>
                            </div>
                        </div>

                        
                    </form>
                </div>
            </div>
        </div>
    </div>

    </div>
  </section>
  


{% endblock content %}

{% block js %}

<script>
    {% if alert %}
    alert("Resume Submitted Successfully");
    document.location = "/jobs/applicant/available/jobs"
    {% endif %}

    {% if closed %}
    alert("Date for applying has been closed")
    document.location = "/jobs/applicant/available/jobs"
    {% endif %}

    {% if notopen %}
    alert("Date for applying has not yet started")
    document.location = "/jobs/applicant/available/jobs"
    {% endif %}

</script>
{% endblock %}