{% extends "basic.html" %}

{% block title %}
Applicant Signup
{% endblock title %}




{% block content %}
  
  <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Applicant Signup Form</h2>
          
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
         <div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
              <div class="card-heading"></div>

                <div class="card-body">
                    <h2 class="title">Applicant  Signup Form</h2>
                    <form method="POST" enctype="multipart/form-data">

                        {% csrf_token %}


                        <div class="input-group">
                            <label class="input--style-2">Profile Picture<span>*</span></label>
                            <input class="input--style-2" type="file"  name="image" >
                        </div>

                        <div class="input-group">
                            <label class="input--style-2"> Enter Contact Number<span>*</span></label>
                            <input class="input--style-2" type="tell"  name="phone" >
                        </div>


                        <div class="col-2">
                            <div class="input-group">
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <label for="gender"class="input--style-2"> Gender</label>
                                        <select id="gender" name="gender">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                        </div>

                                
                        <div class="p-t-30">
                            <button class="btn btn--radius btn--green" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    </div>
  </section>

{% endblock content %}
