{% extends "base.html" %}

{% block title %}
Recruiter Update Job
{% endblock title %}




{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

        <div>
            <label>Job Title</label>
            <input type="text" class="form-control" name="job_title" id="job_title" value="{{job.title}}" placeholder="Job Title" required>
        </div>
        <div>
            <label>Start Date</label></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;({{job.start_date}})
            <input type="date" class="form-control" name="start_date" id="start_date" placeholder="Start Date" required>
        </div>
        <div>
            <label>End Date</label></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;({{job.end_date}})
            <input type="date" class="form-control" name="end_date" id="end_date" placeholder="End Date" required>
        </div>
    </div>
        <div>
            <label>Experience (in years)</label>
            <input type="text" class="form-control" name="experience" id="experience" value="{{job.experience}}" placeholder="Experience required (in years)" required>
        </div>
        <div>
            <label>Salary (per month)</label>
            <input type="tel" class="form-control" name="salary" id="salary" value="{{job.salary}}" placeholder="Enter Salary (per month)" required>
        </div>
    </div>
        <div>
            <label>Skills Required</label>
            <input type="text" class="form-control" name="skills" id="skills" value="{{job.skills}}" placeholder="Enter the required skills for the job" required>
        </div>
        </div>

        <div>
            <label>Company Location</label>
            <input type="text" class="form-control" name="location" id="location" value="{{job.location}}" placeholder="Enter exact location of the Company" required>
        </div>
    </div>
        <div>
            <label>Job Description</label>
           <textarea name="description" id="description" class="form-control" cols="30" rows="4" placeholder="Description of the exact job" required>{{job.description}}</textarea>
        </div>
    </div>
<input type="submit" value="Submit" class="btn mt-3" style="background-color: #4f868c; color: white; font-size: larger; width: 8rem;">
</form>

{% endblock content %}



{% block js %}
<script>
    {% if alert %}
    alert("Job Added Successfully")
    window.location = "/jobs/recruiter/job/list"
    {% endif %}
</script>
{% endblock %}
