{% extends "basic.html" %}

{% block title %}
Recruiter Update Profile
{% endblock title %}




{% block content %}
  <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Recruiter Update Profile </h2>
          <ol>
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li><a href="{% url 'recruiter_profile' %}">Recruiter Profile</a></li>
            <li>Recruiter Update Profile </li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
         <div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
              <div class="card-heading"></div>

                <div class="card-body">
                    <h2 class="title">Recruiter Update Details Form</h2>
                    <form method="POST" enctype="multipart/form-data">

                        {% csrf_token %}
                        
                        <div class="input-group">
                        <img src="{{recruiter.image.url}}" alt="" width="200px" height="200px">
                        </div>

                        <div class="input-group">
                            <label class="input--style-2"> First Name<span>*</span></label>
                            <input class="input--style-2" type="text"  name="first_name" value="{{recruiter.user.first_name}}" required >
                        </div>
                        
                        <div class="input-group">
                            <label class="input--style-2"> Last Name<span>*</span></label>
                            <input class="input--style-2" type="text"  name="last_name" value="{{recruiter.user.last_name}}" required >
                        </div>

                        <div class="input-group">
                            <label class="input--style-2"> Contact Number<span>*</span></label>
                            <input class="input--style-2" type="tell"  name="phone" value="{{recruiter.phone}}" required >
                        </div>
                        <div class="input-group">
                            <label class="input--style-2"> Email<span>*</span></label>
                            <input class="input--style-2" type="text"  name="email" value="{{recruiter.user.email}}" required >
                        </div>
                        


                        <div class="col-2">
                            <div class="input-group">
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <label for="gender"class="input--style-2"> Gender</label>


                                    {% if recruiter.gender == "Male" %}

                                        <select id="gender" name="gender">
                                        <option value="Male" checked>Male</option>
                                        <option value="Female">Female</option>
                                        </select>
                                    {% else %}
                                        <select id="gender" name="gender">
                                        <option value="Male" >Male</option>
                                        <option value="Female" checked>Female</option>
                                        </select>
                                    {% endif %}
                                    
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                        </div>

                                
                        <div class="p-t-30">
                            <button class="btn btn--radius btn--green" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    </div>
  </section>
{% endblock content %}



{% block js %}
<script>
    {% if alert %}
    alert("Profile Updated Successfully")
    window.location = "/jobs"
    {% endif %}
</script>
{% endblock %}
