{% extends "basic.html" %}

{% block title %}
Recruiter Update Job
{% endblock title %}




{% block content %}

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Update Job</h2>
          <ol>
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li><a href="{% url 'recruiter_profile' %}">Recruiter Profile</a></li>
            <li><a href="{% url 'recruiter_job_list' %}">Job Lists</a></li>
            <li>Update Job</li>
          </ol>
          
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
         <div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
              <div class="card-heading"></div>

                <div class="card-body">
                    <h2 class="title">Update Job</h2>

                    <form method="POST" enctype="multipart/form-data">

                        {% csrf_token %}



                        <div class="input-group">
                            <label class="input--style-2"> Job Title<span>*</span></label>
                            <input class="input--style-2" type="text"  name="job_title" value="{{job.title}}" required>
                        </div>

                        <div class="input-group">
                            <label class="input--style-2"> Start Date (yyyy-mm-dd)<span>* </span></label>
                            <input class="input--style-2" type="text"  name="start_date" value="{{job.start_date}}">                       </div>

                        <div class="input-group">
                            <label class="input--style-2"> End Date (yyyy-mm-dd)<span>* 	&nbsp;	&nbsp;</span></label>
                            <input class="input--style-2" type="text"  name="end_date"  value="{{job.end_date}}">
                        </div>
                        
                        <div class="input-group">
                            <label class="input--style-2"> Experience (in years) <span>*</span></label>
                            <input class="input--style-2" type="text"  name="experience"value="{{job.experience}}">
                        </div>

                        <div class="input-group">
                            <label class="input--style-2"> Salary (per month)<span>*</span></label>
                            <input class="input--style-2" type="text"  name="salary"value="{{job.salary}}">
                        </div>

                        <div class="input-group">
                            <label class="input--style-2">Skills Required<span>*	&nbsp;	&nbsp;</span></label>
                            <input class="input--style-2" type="text"  name="skills"value="{{job.skills}}">
                        </div>
                        <div class="input-group">
                            <label class="input--style-2">Location<span>*</span></label>
                            <input class="input--style-2" type="text"  name="location" value="{{job.location}}">
                        </div>
                        <div class="input-group">
                            <label class="input--style-2">Job Description<span>*	&nbsp;	&nbsp;</span></label>
                            <input class="input--style-2" type="text"  name="description" value="{{job.description}}">
                        </div>
                        <div class="p-t-30">
                            <button class="btn btn--radius btn--green" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    </div>
  </section>
{% endblock content %}



{% block js %}
<script>
    {% if alert %}
    alert("Job Added Successfully")
    window.location = "/jobs/recruiter/job/list"
    {% endif %}
</script>
{% endblock %}
